<style type="text/css">
    #searchfloat {position:absolute;top:40px;right:20px;background:#F7F0A0;padding:10px;}
    #saved {position: relative;}
    #saved_sql {position:absolute;bottom:0;height:300px;background:#F7F0A0;width:100%;overflow:auto;display:none;}
    #saved_sql li {display:block;clear:both;width:100%;float:left;line-height:18px;padding:1px 0}
    #saved_sql li a{float:left;text-decoration: none;display:block;padding:0 5px;}
    #saved_sql li i{display:none;float:left;color:#06f;font-size: 14px;font-style: normal;margin-left:2px;line-height:18px;}
    #saved_sql li:hover{background:#fff;}
    #saved_sql li:hover i{display:block;cursor:pointer;}
    #database #tablename {height:205px;width:100%;padding:5px;}
    #database #tablename option{height:18px;}
    #database #subaction {height:210px;width:100%;}
    #database .select-striped > option:nth-of-type(odd) {background-color: #f9f9f9;}
    #database .dropdown-menu ul {margin:-3px 0;}
    #database .dropdown-menu ul li{margin:3px 0;}
    #database .dropdown-menu.row .col-xs-6{padding:0 5px;}
    #sqlquery {font-size:12px;color:#444;}
    #resultparent {padding:5px;}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="database" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    
                    <div id="backuplist">
                    	<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
                    	<div class="form-group">
        
				        <label for="rf_title" class="control-label col-xs-12 col-sm-2" title="" style="width: 150px;">发件人</label>
				        <div class="col-xs-12 col-sm-8">
					                    
				            <input type="datetime" class="form-control " style="width: 300px;"  name="row[recipient_mail]" value="{$row.sender_name}" placeholder="" readonly='readonly'/>
				                    </div>
				    </div>
                    	<div class="form-group">
        
				        <label for="rf_title" class="control-label col-xs-12 col-sm-2" title="" style="width: 150px;">收件人</label>
				        <div class="col-xs-12 col-sm-8">
					                    
				            <input type="datetime" class="form-control " style="width: 300px;"  name="row[recipient_mail]" value="{$row.recipient_mail}" placeholder="" readonly='readonly'/>
				                    </div>
				    </div>
				    <div class="form-group">
        
				        <label for="rf_title" class="control-label col-xs-12 col-sm-2" title="" style="width: 150px;">优先级别</label>
				        <div class="col-xs-12 col-sm-8">
					                    {$row.priority_level_name}
				                    </div>
				    </div>
				        <div class="form-group">
				        
				        <label for="rf_title" class="control-label col-xs-12 col-sm-2" title="" style="width: 150px;">主题</label>
				        <div class="col-xs-12 col-sm-8">
					                    <input type="datetime" class="form-control " style="width: 300px;"  name="row[title]" value="{$row.title}" placeholder=""  readonly='readonly'/>
				                    </div>
				    </div>
				    <div class="form-group">
				        
				        <label for="rf_title" class="control-label col-xs-12 col-sm-2" title="" style="width: 150px;">正文</label>
				        <div class="col-xs-12 col-sm-8">
					                    <textarea name="row[content]" placeholder="" cols="60" rows="5" class="form-control" id="sqlquery">{$row.content}</textarea>
				                    </div>
				    </div>
				    <div class="form-group">
							<label for="rf_title" class="control-label col-xs-12 col-sm-2" title="" style="width: 150px;">附件</label>
							<div class="col-xs-12 col-sm-8">
									<div class="input-group">
										
									</div>
							        
							</div>
					</div>
					{foreach $list as $k => $v}
					<div class="form-group">
				        <label class="control-label col-xs-12 col-sm-2" ></label>
				        <div class="col-xs-12 col-sm-8">
				            
				            <a href="{$v.file_path_url}" target="_blank">{$v.file_path}</a>
				           
				        </div>
				
				    </div>
				     {/foreach}
					    
				    </form>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
