<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
<input type="hidden" value="{$ids}" id="edit_id">
	<?php
        	$nd=date("Y");
        	$st=date("Y")-2;
        	$ed=date("Y")+2;
        ?>
<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2" style="width: 150px;">{:__('setTime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <select name="row[set_time]" class="selectpicker" style="width: 150px;" id="declareds_time">
               <?php
            	for($i=$st;$i<=$ed;$i++)
            	{
            	?>
                <option value="<?php echo $i;?>" <?php if($i==$nd){ echo "selected";}?>><?php echo $i;?>年</option>
                <?php
                }
                ?>
            </select>
        </div>
    </div>
	{foreach $row as $k => $v}
    
        {if $v.pid eq '0'}
        {elseif  $v.pid eq ''}
        <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2" title="{$v.rf_note}" style="width: 150px;">{$v.name}</label>
        
        <div class="col-xs-12 col-sm-2">
	        {if $v.name eq "有限期至"}
	        <select name="row[{$v.id}]" class="selectpicker" style="width: 150px;">
               <?php
            	for($i=$st;$i<=$ed;$i++)
            	{
            	?>
                <option value="<?php echo $i;?>" <?php if($i==$v['item_val']){ echo "selected";}?>><?php echo $i;?>年</option>
                <?php
                }
                ?>
            </select>
            {elseif $v.name eq "报出日期"}
            	<input type="datetime" class="form-control" style="width: 300px;"  name="row[{$v.id}]" value="{$v.item_val}" placeholder="" readonly="readonly" />
	        {else}
            <input type="text" class="form-control"  style="width: 300px;"  name="row[{$v.id}]" value="{$v.item_val}" onkeyup="this.value=this.value.replace(/[^\-?\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\-?\d.]/g,'')"/>
            {/if}
        </div>
            </div>
        {/if}

    {/foreach}
    <div class="row headerBackground">
        <div class="col-sm-3">指标</div>
        <div class="col-sm-2">代码</div>
        <div class="col-sm-2">园区填报</div>
        <div class="col-sm-2">附件上传</div>
        <div class="col-sm-1">考核主体</div>
        <!--<div class="col-sm-2">5</div>-->
    </div>
    {foreach $row as $k => $v}
    <input type="hidden" id="declareds_time" value="{$v.mon}">

        {if $v.pid eq '0'}
            <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-3"  title="{$v.rf_note}" ><b>{$v.name}</b></label>
        <label for="name" class="control-label col-xs-12 col-sm-2"></label>
       
        <label  class="control-label col-xs-12 col-sm-2"></label>
        <label  class="control-label col-xs-12 col-sm-2"></label>
        <label  class="control-label col-xs-12 col-sm-2"></label>
          </div>
		{elseif $v.pid eq ''}
        
        
        {else}
            <div class="form-group">
             <?php
         $name=$v['name'];
         $num=intval(substr($name,0,3));
         $title=explode($num,$name);
         ?>
        <label for="name" class="control-label col-xs-12 col-sm-3"  title="{$v.rf_note}" ><?php 
        	if($num==0)
       	{
       		echo $v['name'];
       	}
        	else
        	{
        		for($i=0;$i<$num;$i++)
        		{
        			echo "&nbsp;";
        		}
        		echo $title[1];
        	}
        	
        
        
        ?></label>
        <label for="name" class="control-label col-xs-12 col-sm-2">{$v.seqn}</label>
        <div class="col-xs-12 col-sm-2">
            <input type="text" class="form-control" style="width: 100px;" id="month_{$v.id}" onkeyup="this.value=this.value.replace(/[^\-?\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\-?\d.]/g,'')" name="row[{$v.id}]" value=""/>
        </div>
        <div class="col-xs-12 col-sm-2">
        
            <span>
            <input id="c-thumb{$v.seqn}" class="form-control" size="50" name="row[thumb]" type="hidden" value="" />
            <button type="button" id="plupload-imagethumb{$v.seqn}" class="btn btn-danger plupload" data-input-id="c-thumb{$v.seqn}" data-multiple="true" data-preview-id="p-thumb{$v.seqn}">
            <i class="fa fa-upload"></i>上传</button>
            </span>
            
        </div>
        
        <label for="name" class="control-label col-xs-12 col-sm-2">{$v.company_park_name}</label>
          </div>
        {/if}
        <!--<label class="control-label col-xs-12 col-sm-2">同比增长</label>-->
  
    {/foreach}


{if $current_company_id eq $project_company_id}
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
      {/if}
</form>